{% extends 'base.twig' %}
{% block content %}

<div class="contact">
  <h1 class="page-title">{{ post.title }}</h1>

  <div class="contact-details columns">
    <div class="lh-col grid-item">
       <img src="{{ post.meta('contact_details').image }}">
    </div>

    <div class="rh-col grid-item">
      {{ post.meta('contact_details').text }}

      <div class="holder">
        <img src="/wp-content/themes/cornwall-advocacy/icons/Icon_Phone.svg">
        <p class="detail">{{ options.phone }}</p>
      </div>

      <div class="holder">
        <img src="/wp-content/themes/cornwall-advocacy/icons/Icon_Email.svg">
        <p class="detail">{{ options.email }}</p>
      </div>

      <div class="holder">
        <p>You can also look at our Facebook page for information:</p>
      </div>

      <div class="holder">
        <img src="/wp-content/themes/cornwall-advocacy/icons/Icon_Facebook_Alt.svg">
        <p class="detail">{{ options.facebook }}</p>
      </div>

    </div>
  </div>

  <h2 class="section-title">Contact Form</h2>
  <div class="contact-form">
    <div class="lh-col grid-item">
       <img src="{{ post.meta('contact_form').image }}">
    </div>

    <div class="rh-col grid-item">
      {{ forms.contact }}
    </div>
  </div>

</div><!-- close contact -->

{% endblock %}
