{% extends 'base.twig' %}
{% block content %}

<div class="standard-content">
  <h1 class="page-title">{{ post.title }}</h1>

  {% for item in post.meta('standard_text_image_block') %}
    <section class="text-image {{ item.background }}">
      {% if item.title %}
        <h2 class="section-title">{{ item.title }}</h2>
      {% endif %}
        <div class="columns">
          {% if Image(item.image).src %}
            <div class="lh-col grid-item">
              <img src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}" />
            </div>
          {% endif %}
          <div class="rh-col grid-item">
            {{ item.text }}
          {% if item.link %}
            <a href="{{ item.link }}" class="link">{{ item.link_text }}</a>
          {% endif %}
        </div>
      </div>
    </section>
  {% endfor %}

  <div class="faqs">
    {% for item in post.meta('accordian') %}
      <div class="faq">
        <p class="question">{{ item.question }}
          <img src="/wp-content/themes/cornwall-advocacy/icons/Icon_Plus.svg" class="faq-cross">
        </p>
        <p class="answer">{{ item.answer }}</p>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
