{% if post.image %}
  <div class="banner" style="background-image: url('{{ Image(post.meta('image')).src }}');">
    {% if post.banner_headline %}
      <span class="banner-headline">{{ post.banner_headline }}</span>
    {% endif %}

      {% if fn('is_page', ('about-us') ) %}
      <ul class="child-nav">
        <li class="child-nav-item">{{ post.title }}</li>
        {% for child in post.children %}
          {# {{ item.current ? 'is-active' }} #}
          <li><a href="{{ child.link }}" class="child-nav-item">{{ child.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {# {% else %} #}
{% endif %}
