{% if post.meta('image') %}
  <div class="banner" style="background-image: url('{{ Image(post.meta('image')).src }}');">

    <!-- conditional to page -->
    {% if fn('is_page', (['16', '321', '323']) ) %}
      <ul class="child-nav">
        {% for item in child_one.items %}
          <li class="nav-item">
            <a class="child-nav-item" href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if fn('is_page', (['18','272']) ) %}
      <ul class="child-nav">
        {% for item in child_two.items %}
          <li class="nav-item">
            <a class="child-nav-item" href="{{ item.link }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div><!-- close banner-->

  {% else %}
  <!-- do something to style top of page when no banner -->
  <div style="padding-top: 6rem;" aria-hidden="true">
{% endif %}
