{% if item.acf_fc_layout == 'image_text_block' %}
  {% for item in item.image_text %}
    <div class="image-text {{ item.background }}">
      {% if item.title %}
        <h2 class="section-title">{{ item.title }}</h2>
      {% endif %}
        <div class="columns">
          {% if Image(item.image).src %}
            <div class="lh-col">
              <img src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}" />
            </div>
          {% endif %}
        <div class="rh-col">
          {{ item.text }}
           {% if item.link %}
             <a href="{{ item.link }}" class="link">{{ item.link_text }}</a>
           {% endif %}
         </div>
       </div>
    </div>
  {% endfor %}
{% endif %}
