{% if item.acf_fc_layout == 'image_links_block' %}
  <section class="image-links">
    <h2 class="title">{{ item.title }}</h2>
      <div class="grid">
      {% for item in item.grid_element %}
        <div class="grid-item">
          <img src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}">
          <p class="text">{{ item.text }}</p>
        </div>
      {% endfor %}
    </div>
    <a href="{{ item.link }}" class="link">{{ item.link_text }}</a>
  </section>
{% endif %}
