{% if item.acf_fc_layout == 'projects_block' %}
  <section class="projects">
    <h2 class="section-title">{{ item.title }}</h2>
    {% for item in item.project %}
      <div class="project">
        <img src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}" class="image">
        <p class="text">{{ item.text }}</p>
      </div>
    {% endfor %}
    <a href="{{ item.link }}" class="link">{{ item.link_text }}</a>
  </section>
{% endif %}
